@charset "UTF-8";

/* responsive font size
   ------------------------------------------------------ */
@import "../../node_modules/rfs/scss";
$rfs-base-value: 1rem;

/* variables
   ------------------------------------------------------ */
$font-bk: #555555;

/* variables 可変フォントサイズ用の変数
   ------------------------------------------------------
768〜1024px幅においてフォントサイズを変化させる
--- */
$variable-start: 768;
$variable-end: 1024;

/* ======================================================
   Foundation
   ====================================================== */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: $font-bk;
}
*,
::before,
::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  line-height: 1.75;
}
/* default style
   ------------------------------------------------------ */
h1,
h2,
h3,
h4 {
  color: #800080;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.caption {
  font-family: sans-serif;
  font-size: 0.8rem;
}

/* ---------- background color ---------- */
.bg-gray {
  background: dimgray;
}
.bg-purple {
  background: purple;
}
.bg-smoke {
  background-color: whitesmoke;
}
/* ---------- font color ---------- */
.font-black {
  color: #555;
}
.font-gray {
  color: darkgray;
}
.font-purple {
  color: purple;
}
.font-white {
  color: white;
}
/* ---------- font size ---------- */
p:not([class]),
li:not([class]),
.font-m {
  $min-rem-p: 0.875;
  $max-rem-p: 1;
  //〜767px
  font-size: $min-rem-p + rem;
  //768px〜
  @media screen and (min-width: 768px) {
    font-size: calc(
      (#{$max-rem-p - $min-rem-p} * 16) * ((100vw - #{$variable-start + px}) / (#{$variable-end - $variable-start})) + #{$min-rem-p +
        rem}
    );
  }
  //1024px〜
  @media screen and (min-width: 1024px) {
    //最大値適用の画面幅の下限
    font-size: $max-rem-p + rem; //最大値
  }
}

.font-xs {
  $min-rem-xs: 0.75;
  $max-rem-xs: 0.875;
  //〜767px
  font-size: $min-rem-xs + rem;
  //768px〜
  @media screen and (min-width: 768px) {
    font-size: calc(
      (#{$max-rem-xs - $min-rem-xs} * 16) * ((100vw - #{$variable-start + px}) / (#{$variable-end - $variable-start})) +
        #{$min-rem-xs + rem}
    );
  }
  //1024px〜
  @media screen and (min-width: 1024px) {
    //最大値適用の画面幅の下限
    font-size: $max-rem-xs + rem; //最大値
  }
}

.font-s {
  $min-rem-s: 0.75;
  $max-rem-s: 0.9375;
  //〜767px
  font-size: $min-rem-s + rem;
  //768px〜
  @media screen and (min-width: 768px) {
    font-size: calc(
      (#{$max-rem-s - $min-rem-s} * 16) * ((100vw - #{$variable-start + px}) / (#{$variable-end - $variable-start})) + #{$min-rem-s +
        rem}
    );
  }
  //1024px〜
  @media screen and (min-width: 1024px) {
    //最大値適用の画面幅の下限
    font-size: $max-rem-s + rem; //最大値
  }
}

.font-l {
  @include font-size(1.5rem);
}

.font-xl {
  @include font-size(2rem);
}

/* ======================================================
   Layout
   ====================================================== */
.l-header {
  margin-top: 1rem;
}
.l-header__established {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.l-header__global-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 70%;
  transform: translateX(150%);
  transition: transform 1s;
  &.isOpen {
    transform: translateX(0);
  }
}
.l-header__shop-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 30%;
  transform: translateX(-150%);
  transition: transform 1s;
  &.isOpen {
    transform: translateX(0);
  }
}
.l-main {
  width: 92%;
  max-width: 1080px;
  margin: 1rem auto 0;
}
.l-section {
  margin: 2rem auto 0;
  max-width: 1080px;
  width: 95%;
}
.l-footer {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .l-header__established {
    display: inline-block;
    left: 0;
  }
  .l-header__global-nav {
    position: absolute;
    top: 100%;
    transform: translateX(0);
  }
  .l-header__shop-nav {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    margin-left: auto;
    transform: translateX(0);
  }
  .l-main {
    margin-top: 3rem;
  }
  .l-section {
    margin-top: 3rem;
  }
}

/* ======================================================
   Object
   ====================================================== */
/* Component
   ------------------------------------------------------ */
.c-card + .c-card {
  margin-top: 2rem;
}
.c-card-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 62.25%;
  box-shadow: -2px 2px 6px 3px rgba(0, 0, 0, 0.1);
  color: inherit;
  &:hover {
    img {
      opacity: 0.8;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 212, 255, 0.1);
    }
  }
}
.c-card-content {
  margin-top: 1rem;
  padding: 1rem;
}
.c-card-heading {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.c-card-text {
  margin-top: 0.5rem;
}
.c-card-img {
  position: absolute;
  top: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .c-card + .c-card {
    margin-top: 0rem;
  }
  .c-card {
    width: calc(100% / 3);
    margin: 0 16px;
  }
  .c-card-text {
    min-height: 10rem;
  }
}
@media screen and (min-width: 1024px) {
  .c-card-heading {
    font-size: 1.25rem;
  }
}

/* Project
------------------------------------------------------ */
/*** 
header
***/
.p-header__container {
  display: block;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  max-width: 95%;
  height: 6rem;
}
.p-header__site-name {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

.p-header__global-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  background-color: #fff;
  a {
    font-size: 1.5rem;
  }
  .global-nav-fb::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f39e";
  }
  .global-nav-ig::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f16d";
  }
}
.p-header__shop-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  background-color: #fff;
  a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-header__container {
    height: 7rem;
  }
  .p-header__established {
    position: static;
  }
  .p-header__global-nav-list {
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    li:not(:first-child) {
      margin-left: 1.5rem;
    }
    a {
      font-size: 0.9375rem;
      color: $font-bk;
    }
  }
  .p-header__shop-nav-list {
    flex-direction: row;
    justify-content: flex-end;
    // order: 2;
    background-color: transparent;
    li {
      margin-left: 20px;
    }
    a {
      font-size: 0.9375rem;
      color: $font-bk;
    }
    &::before {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .p-header__container {
    width: 95%;
    max-width: 1080px;
    height: 8rem;
  }
}

/**
 * slider
 */
.p-slider-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.p-slider-frame {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  & .p-sliderPause {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.125rem 0.5rem;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: #fff;
    user-select: none;
    transition: opacity 0.5s;
  }
}
.p-slider-wrapper {
  display: flex;
  position: relative;
  left: 0;
  transform: translateX(0%);
  transition: 1s;
}
.p-slider-item {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  margin-left: 0;
  left: 0;
  transition: 0s;
  // & .p-slider-text {
  //   position: absolute;
  //   left: 0;
  //   font-size: 5vw;
  //   padding: 0 2vw;
  //   background-color: rgba(0, 0, 0, 0.2);
  //   color: #fff;
  // }
  & img {
    width: 100%;
  }
}
.p-slider-controls {
  position: absolute;
  top: 50%;
  left: 1%;
  right: 1%;
  transform: translateY(-50%);
  margin-top: 1rem;
  .next {
    float: right;
  }
}
.p-slider-button {
  background-color: rgba($color: #000000, $alpha: 0.1);
  padding: 0.25rem 0.5rem;
  outline: rgba($color: #800080, $alpha: 0.1) solid 3px;
  color: rgba($color: #fff, $alpha: 0.8);
  font-size: 1.5rem;
  z-index: 3;
}
/*** 
section共通
***/
.p-section__heading {
  margin: 1rem 0;
  &::before {
    content: "\0a7\0a2003";
  }
}

/***
News section
***/
.p-news__heading {
  padding: 0.25rem 0;
}

.p-news__deck {
  width: 95%;
  margin: 0 auto;
}

.p-news__content p {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .news {
    display: flex;
    // justify-content: center;
  }
  .p-news__deck {
    display: flex;
    justify-content: center;
    width: 80%;
  }
}
.p-news__header {
  align-items: stretch;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
  justify-content: center;
}
.p-news__heading {
  align-self: center;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 2px;
}
.p-news__body {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
  text-align: left;
}
.p-news__content {
  display: flex;
}
.p-news__content + .p-news__content {
  margin-top: 0.5rem;
}
.p-news__content p {
  display: inline-block;
  margin-left: 1rem;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .p-news__content p {
    width: 540px;
  }
}

/***
About section
***/

.p-about__list {
  margin: 1rem 0 1rem 0.75rem;
}
.p-about__list li {
  list-style-type: disc;
  list-style-position: inside;
}

.p-about a {
  text-decoration: underline;
}

.p-about__button {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
  .btn {
    border: 1px solid rgba(purple, 0.4);
    border-radius: 4px;
    padding: 0.25rem 1rem;
    cursor: pointer;
    transition: 0.4s;
    user-select: none;
    &:hover {
      background: purple;
      color: white;
    }
    &:active {
      opacity: 0.8;
      position: relative;
      top: 1px;
      box-shadow: -1px -1px 5px gray, 1px 1px 5px gray;
    }
  }
}

/*** 
first-section
***/

.p-first-section__grid {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-first-section__grid {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}

/***
second-section
***/
.p-second-section__grid {
  width: 95%;
  margin: 1.5rem auto 0;
  img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .p-second-section__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .card {
      width: calc(100% / 2 - 8px);
    }
  }
}
@media screen and (min-width: 1024px) {
  .p-second-section__grid {
    .card {
      width: calc(25% - 8px);
    }
  }
}

/***
third-section
***/
.p-third-section__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 1.5rem auto;
}
.p-third-section__card {
  width: 100%;
  img {
    width: 100%;
  }
}
.p-third-section .caption {
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-third-section__card {
    margin-top: 8px;
    width: calc(100% / 2 - 8px);
  }
}
@media screen and (min-width: 1024px) {
  .p-third-section__card {
    width: calc(100% / 4 - 8px);
  }
  .p-third-section__grid::after {
    display: block;
    content: "";
    width: calc(100% / 2 - 8px);
  }
}

/*** 
footer
***/
.p-footer {
  padding-bottom: 25px;
  text-align: center;
  &__nav {
    display: flex;
    justify-content: space-around;
    max-width: 720px;
    margin: 0 auto;
    padding-top: 25px;
    width: 80vw;
  }
  & a {
    color: white;
    text-decoration: none;
  }
  &__logo {
    margin: 30px auto 30px;
    max-width: 120px;
    width: 20vw;
  }
}
/*** 
Return top
***/
.return-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: 0.2s;
  color: gray;
  opacity: 0.6;
}
/* Accessibility
   ------------------------------------------------------ */
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
