<!DOCTYPE html>
<%
const pageTitle = 'Top'; 
let randNum = Math.floor(Math.random()*1000);
%>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" />  -->

  <!--
    inview Animation用
    Intersection Observer API の Polyfill(IE11対応用)
  -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver" defer></script>
  <!-- .prepend()のPolyfill(IE11対応用) -->
  <script src="js/ie11_prepend.js" defer></script>

  <!-- inview Animation -->
  <link rel="stylesheet" href="./css/inview.css" />
  <script type="module" src="./js/inview.js" defer></script>

  <!-- fonts -->
  <script src="https://kit.fontawesome.com/ea672cdcce.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">

  <title><%= pageTitle %> | OR-IKEDA sample</title>

  <!-- styles -->
  <link rel="stylesheet" href="./css/ress.css" />
  <link rel="stylesheet" href="./css/style.css?<%= randNum %>" />

</head>

<body>
  <header class="l-header font-xs">
    <div class="p-header__container">
      <h1 class="p-header__site-name">
        <a href="#">
          <picture>
            <source srcset="./img/logo/logo_sp@1x.png 1x, 
                            ./img/logo/logo_sp@2x.png 2x" media="(max-width: 767px)">
            <source srcset="./img/logo/logo_tab@1x.png 1x, 
                            ./img/logo/logo_tab@2x.png 2x" media="(max-width: 1023px)">
            <img src="./img/logo/logo_pc@1x.png" srcset="./img/logo/logo_pc@1x.png 1x, ./img/logo/logo_pc@2x.png 2x" alt="">
          </picture>
        </a>
        <span class="screen-reader-text">shiic</span>
      </h1>
      <p class="l-header__established p-header__established">Since 2019 in Hokkaido</p>
      <nav class="l-header__global-nav">
        <h2 class="screen-reader-text">サイト内メニュー</h2>
        <ul class="p-header__global-nav-list font-black" id="globalNav">
          <li ontouchstart=""><a href="#p-about">About</a></li>
          <li ontouchstart=""><a href="#p-music">Music</a></li>
          <li ontouchstart=""><a href="#p-foods">Foods & Drinks</a></li>
          <li ontouchstart=""><a href="#p-sights">Sights</a></li>
          <li ontouchstart=""><a href="#p-company">Company</a></li>
          <li ontouchstart=""><a href="/" class="global-nav-fb"><span class="screen-reader-text">Facebook</span></a></li>
          <li ontouchstart=""><a href="/" class="global-nav-ig"><span class="screen-reader-text">Instagram</span></a></li>
        </ul>
      </nav>
      <!-- /.global-nav -->
      <div class="l-header__shop-nav">
        <ul class="p-header__shop-nav-list font-black">
          <li><a href="#" target="_blank">Sign Up</a></li>
          <li><a href="#" target="_blank"><span>Sign In</span></a></li>
          <li><a href="#" target="_blank"><span>Cart</span></a></li>
        </ul>
      </div>
      <!-- /.shop-nav -->
    </div>
    <!-- /.header -->
  </header>
  <!-- /.wrapper -->

  <main class="l-main">
    <!-- Slider main container -->
    <div class="p-slider-container">
      <div class="p-slider-frame" id="p-slider-frame">
        <!-- Additional required wrapper -->
        <div class="p-slider-wrapper" id="p-slider-wrapper">
          <!-- Slides -->
          <div class="p-slider-item order1" id="p-slider-item1"><img src="./img/sld1_accd.jpg" alt="アコーディオン" /></div>
          <div class="p-slider-item order2" id="p-slider-item2"><img src="./img/sld2_tp.jpg" alt="トランペッター" /></div>
          <div class="p-slider-item order3" id="p-slider-item3"><img src="./img/sld3_g&b.jpg" alt="ギタリストとベーシスト" /></div>
        </div>
        <!-- ./p-slider-wrapper -->
        <div class="p-sliderPause" id="p-sliderPause">
          写真をクリックするとスライドを再開します
        </div>
        <!-- ./slider-pause -->
        <!-- If we need navigation buttons -->
        <div class="p-slider-controls">
          <button class="p-slider-button prev" id="prev"><img src="img/icon/arrow_back_ios.svg" alt="スライダーを戻す"></button>
          <button class="p-slider-button next" id="next"><img src="img/icon/arrow_forward_ios.svg" alt="スライダーを進める"></button>
        </div>
        <!-- /. p-slider-controls -->
      </div>
      <!-- ./p-slider-frame -->

      <!-- If we need pagination -->
      <!-- <div class="slider-pagination"></div> -->
    </div>
    <!-- /.p-slider-container -->

    <!-- news -->
    <section class="l-section news inview">
      <div class="p-news__deck">
        <div class="p-news__header bg-gray">
          <h2 class="p-news__heading">News!</h2>
        </div>
        <div class="p-news__body bg-smoke">
          <ul>
            <li class="p-news__content font-s">
              <time datetime="2019-07-14">2019/07/14</time>
              <p class="font-s">親譲りの無鉄砲で小供の時から損ばかりしている。</p>
            </li>
            <li class="p-news__content font-s">
              <time datetime="2019-07-10">2019/07/10</time>
              <p class="font-s">
                  メロスは激怒した。必ず、かの邪智暴虐の王を除かなければならぬと決意した。
                </p>
            </li>
            <li class="p-news__content font-s">
              <time datetime="2019-07-04">2019/07/04</time>
              <p class="font-s">
                  ゴーシュは町の活動写真館でセロを弾く係りでした。けれどもあんまり上手でないという評判でした。
                </p>
            </li>
          </ul>
        </div>
        <!-- / p-news__body -->
      </div>
      <!-- /.news__deck -->
    </section>
    <!-- /section .news -->

    <section id="p-about" class="l-section p-about">
      <h2 class="p-section__heading inview" data-type="fadeIn">About</h2>
      <div class="p-about__text inview" data-type="fadeIn">
        <p>このサイトは、Web制作フリーランスのORイケダによる制作サンプルサイトです。</p>
        <ul class="p-about__list">
          <li>ソースコード作成には EJS / Sass / Babel / Gulp を利用</li>
          <li>CSSは<a href="https://github.com/hiloki/flocss">FLOCSS</a>に沿って記述</li>
          <li>ロゴ作成は<a href="https://www.squarespace.com/logo">SquarespaceのFree Logo Maker</a>を利用</li>
          <li>画像素材は<a href="https://unsplash.com/">Unsplash</a>と<a href="https://pixabay.com/">Pixabay</a>を利用</li>
          <li>トップビジュアルのスライダーは、素のJavaScriptで作成</li>
          <li>コードは<a href="https://github.com/bugalu/sample_site_002_ShiicInc">GitHub</a>にアップしています</li>
        </ul>
      </div>
      <div class="p-about__button p-about__button-roll font-purple inview" data-type="fadeIn">
        <div class="btn font-m">
          <span class="font-xs">&gt;&gt;</span> History of Shiic
        </div>
      </div>
    </section>
    <!-- / section .p-about -->

    <!-- section .music -->
    <section id="p-music" class="l-section music">
      <h2 class="p-section__heading inview" data-type="fadeIn">Music</h2>
      <div class="music__text inview" data-type="fadeIn">
        <p>
            　これはダミーテキストです。This is dummy text.ここにはダミーテキストを配置しています。完成イメージを摑みやすくする為に、ひらがな、カタカナ、漢字、alphabet、など各種の文字を織り交ぜた文章を仮配置しています。【アルファベット】[半角⇒]ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz[全角⇒]ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ【数字】[半角⇒]0123456789 [全角⇒]０１２３４５６７８９【約物・記号】 [半角⇒]`~!@#$%^&*()-_=+[]{};&apos;:&quot;\|&yen;,./&lt;&gt;? [全角⇒]｀〜！＠＃＄％＾＆＊（）−＿＝＋「」｛｝『』；’：”｜“”￥、。・＜＞？÷×〒○◎✕△□■〓♪※→☆★♯＃【スペース】これは　全角スペースです。これは 半角スペースです。【次の行頭は改行インデント（全角スペース）】<br>
            　ここは全角スペースの改行インデント。<br>
             ここは半角スペースの改行インデントですが、インデントとして表示されていないかもしれません。
          </p>
      </div>
      <div class="p-music__grid">

        <article class="p-music__card inview" data-type="fadeIn" data-delay="0">
          <h3 class="p-music__card-heading">ソン・モントゥーノ</h3>
          <p class="p-music__text font-m">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。</p>
          <img src="./img/m1_trumpeter.jpg" alt="cuban trumpeter" />
        </article>

        <article class="p-music__card inview" data-type="fadeIn" data-delay="1">
          <h3 class="p-music__card-heading">ヌエバ・トローバ</h3>
          <p class="p-music__text font-m">智に働けば角が立つ。情に棹させば流される。意地を通せば窮屈だ。とかくに人の世は住みにくい。</p>
          <img src="./img/m2_piano.jpg" alt="cuban trumpeter" />
        </article>

        <article class="p-music__card inview" data-type="fadeIn" data-delay="2">
          <h3 class="p-music__card-heading">ルンバ・グァグァンコー</h3>
          <p class="p-music__text font-m">或るとしの春、私は、生れてはじめて本州北端、津軽半島を凡そ三週間ほどかかつて一周したのであるが、それは、私の三十幾年の生涯に於いて、かなり重要な事件の一つであつた。</p>
          <img src="./img/m3_conga.jpg" alt="cuban trumpeter" />
        </article>
      </div>
      <!-- /.music-grid -->
    </section>
    <!-- /section .music -->

    <!-- section foods -->
    <section id="p-foods" class="l-section foods">
      <h2 class="p-section__heading inview" data-type="fadeIn">Foods & Drinks</h2>
      <div class="food__text inview" data-type="fadeIn">
        <p>
          木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。一筋の街道はこの深い森林地帯を貫いていた。東ざかいの桜沢から、西の十曲峠まで、木曾十一宿はこの街道に添うて、二十二里余にわたる長い谿谷の間に散在していた。
        </p>
      </div>
      <div class="p-foods__grid">
        <article class="card inview" data-type="fadeIn" data-delay="0">
          <img src="./img/st01_cigar.jpg" alt="Cigar" />
          <p class="caption">Cigar</p>
        </article>
        <article class="card inview" data-type="fadeIn" data-delay="1">
          <img src="./img/st02_mojito.jpg" alt="Mojito" />
          <p class="caption">Mojito</p>
        </article>
        <article class="card inview" data-type="fadeIn" data-delay="2">
          <img src="./img/st03_papaya.jpg" alt="Papaya" />
          <p class="caption">Papaya</p>
        </article>
        <article class="card inview" data-type="fadeIn" data-delay="3">
          <img src="./img/st04_daiquiri.jpg" alt="" />
          <p class="caption">Fruit Daiquiri</p>
        </article>
      </div>
    </section>
    <!-- / section .foods -->

    <!-- section .p-sights -->
    <section id="p-sights" class="l-section p-sights">
      <h2 class="p-section__heading inview" data-type="fadeIn">Sights</h2>
      <div class="p-sights__text inview" data-type="fadeIn">
        <p>
          蕗屋清一郎が、何故これから記す様な恐ろしい悪事を思立ったか、その動機については詳しいことは分らぬ。又仮令分ったとしてもこのお話には大して関係がないのだ。彼がなかば苦学見たいなことをして、ある大学に通っていた所を見ると、学資の必要に迫られたのかとも考えられる。彼は稀に見る秀才で、而も非常な勉強家だったから、学資を得る為に、つまらぬ内職に時を取られて、好きな読書や思索が十分出来ないのを残念に思っていたのは確かだ。
        </p>
      </div>
      <div class="p-sights__grid">
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="0">
          <img src="./img/d01_vieja.jpg" alt="" />
          <p class="caption">La Habana Vieja</p>
        </div>
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="1">
          <img src="./img/d02_fruit.jpg" alt="" />
          <p class="caption">Habana</p>
        </div>
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="2">
          <img src="./img/d03_malecon.jpg" alt="" />
          <p class="caption">Malecón</p>
        </div>
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="3">
          <img src="./img/d04_capitolio.jpg" alt="" />
          <p class="caption">El Capitolio</p>
        </div>
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="4">
          <img src="./img/d05_old-habana.jpg" alt="" />
          <p class="caption">Old Habana</p>
        </div>
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="5">
          <img src="./img/d06_morro.jpg" alt="" />
          <p class="caption">Castillo del Morro</p>
        </div>
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="6">
          <img src="./img/d07_gran-teatro.jpg" alt="" />
          <p class="caption">Gran Teatro de La Habana</p>
        </div>
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="7">
          <img src="./img/d08_terrazas.jpg" alt="" />
          <p class="caption">Las Terrazas</p>
        </div>
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="8">
          <img src="./img/d09_plaza.jpg" alt="" />
          <p class="caption">Plaza de la Revolucion</p>
        </div>
        <div class="p-sights__card inview" data-type="fadeIn" data-delay="9">
          <img src="./img/d10_varadero.jpg" alt="" />
          <p class="caption">Varadero</p>
        </div>
      </div>
    </section>
    <!-- / section .p-sights -->
  </main>
  <!-- /.content -->

  <footer id="p-company" class="l-footer p-footer bg-purple font-white font-s">
    <ul class="p-footer__nav">
      <li><a href="">Payment</a></li>
      <li><a href="">Delivery</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Legal Notation</a></li>
      <li><a href="">Contact</a></li>
    </ul>
    <a href="/"><img src="./img/logo_shiic04_white.png" alt="Shiic Inc." class="p-footer__logo" /></a>
    <div class="p-footer__info font-xs">
      <address>
        Ｘ県Ｙ市Ｚ区Ａ町0番0号（<a href="https://goo.gl/maps/*******" target="_blank">Map</a>）
      </address>
      <p class="tel">Tel 000-000-0000</p>
    </div>

    <p class="copyright">
        &copy;2019-2020 Office OR-IKEDA
      </p>
  </footer>
  <a href="#"><i class="fas fa-caret-square-up fa-2x return-to-top"></i></a>
  <script src="./js/main.js"></script>
</body>
</html>